.detail {
  margin: 20px 20px;
}

.detail-top {
  display: flex;
  justify-content: space-between;
}

.detail-bottom {
  font-size: 25px;
  margin: 90px 30px;
}

.detail-div-img {
  margin: auto;
}

.detail-img {
  max-width: 275px;
  margin-top: auto;
  margin-bottom: auto;
  /* position: unset !important; */
}

.detail-info {
  width: 50%;
  min-height: 200px;
  font-size: 30px;
  margin-left: 30px;
}

.detail-info > button {
  font-size: 30px;
  min-width: 100px;
  background-color: black;
  color: white;
  margin: 0 5px;
  border-radius: 7px;
  cursor: pointer;
}

.detail-info > button:hover {
  background-color: grey;
}

@media (max-width: 600px) {
  .detail-top {
    flex-direction: column;
  }
  .detail-info {
    width: 95%;
  }
  .detail-bottom {
    margin-top: 30px;
    margin-bottom: 100px;
  }
}

@media (max-width: 500px) {
  .detail-info {
    font-size: 23px;
  }
  .detail-info > button {
    font-size: 23px;
  }
  .detail-bottom {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .detail-info > p {
    margin: 15px auto;
  }
  .detail-bottom > p {
    margin-top: 0;
  }
  .detail {
    margin-left: 5px;
  }
  .detail-img {
    max-width: 225px;
  }
}
